name: orbit_task_example
description: Demonstrates how to use the orbit_task plugin for background execution.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.0.0
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  orbit_task:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
